* {
  justify-content: center;
  text-align: left;
  font-family: monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 1440px;
}

html,
body {
  background-color: #fff;
  width: 100%;
  margin-top: 135px;
}

body {
  margin: 5px auto;
  padding: 5px;
}
.main {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

a,
a :visited {
  text-decoration: none;
  color: black;
}

a :hover {
  text-decoration: underline;
}

header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 115px;
  padding: 75px 60px;
  margin: auto;
}

nav li {
  list-style: none;
  font-size: 2em;
  display: inline;
  justify-content: space-between;
  padding: 10px;
}

nav li:hover {
  text-decoration: underline;
}

.name {
  font-size: 2em;
}

.welcome {
  text-align: center;
  font-size: 6em;
  font-weight: bolder;
}
.welcome2 {
  display: none;
}
.letsexplore {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #145999;
  font-weight: bold;
}
.coverphoto {
  display: flex;
  justify-content: center;
}

.indexmenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.indextext {
  font-size: 1.5em;
  font-weight: bold;
}

.menubar {
  background-color: #145999;
}

.menubar2 {
  background-color: #00615e;
}

.menubar,
.menubar2 {
  width: 550px;
  height: 40px;
  border-radius: 0px 5px 5px 0px;
  font-size: 2em;
  font-weight: bold;
  color: white;
  top: 361px;
}

button {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #4d4d4d;
}

button :hover {
  background: #707070;
}

button :active {
  position: relative;
  top: 1px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  height: 115px;
  padding: 75px 60px;
  margin: auto;
}

@media screen and (max-width: 900px) {
  header {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .menubar,
  .menubar2 {
    width: 300px;
    height: 40px;
    font-size: 2em;
  }
}

@media screen and (max-width: 570px) {
  nav {
    display: none;
  }

  .welcome {
    display: none;
  }

  .welcome2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 5em;
    font-weight: bolder;
    padding-top: 5px;
  }

  .menubar,
  .menubar2 {
    width: 200px;
    height: 30px;
    font-size: 1.5em;
  }

  footer {
    padding: 5px;
  }

  .logo {
    display: none;
  }
}
